<div class="row ps-5">
    <div class="col-lg-6 ">
        <div class="d-flex justify-content-between">
            <h3>Attendance</h3>
            <span (click)="filterToggle()"> <img src="/assets/images/icons/filter-icon.png" width="20" alt=""> Filter</span>

        </div>
        <!-- =================== Filter ===================  -->
        <div class="bg-info d-flex justify-content-end" *ngIf="ShowFilter">
            <div class="border p-3 rounded shadow-sm filter pop-up">
                <form>
                    <div class="form-group mt-3">
                        <label>From</label>
                        <input type="date" class="form-control" name="" id="">
                    </div>
                    <div class="form-group mt-3">
                        <label>To</label>
                        <input type="date" class="form-control" name="" id="">
                    </div>
                    <div class="form-group mt-3 ">
                        <label>Status</label>
                        <select name="" id="" class="form-select">
                            <option value="">Presents</option>
                            <option value="">Absents</option>
                        </select>
                    </div>
                    <div class="form-group mt-3 d-flex justify-content-end">
                        <button class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- =================== Attendance List ===================  -->

        <div class="border rounded shadow-sm pop-up px-3 attendance-info ">

            <table class="table ">
                <thead>
                    <tr>
                        <th>
                            Date

                        </th>
                        <th>Attendance Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>

                    <tr>
                        <td>12/5/2022</td>
                        <td>Present</td>
                    </tr>


                </tbody>
            </table>




        </div>
    </div>
    <div class="col-lg-6 pt-3">


        <div class=" mt-4 p-3  border  rounded shadow-sm pop-up attendance-detail ">
            <h4>Attendance Details</h4>
            <hr>
            <div class="row mt-5 p-3">
                <div class="col-6">
                    <div>
                        <h6>Total Classes</h6>
                        <h5>12</h5>
                    </div>
                    <hr>
                    <div>
                        <h6>Attended </h6>
                        <h5>10</h5>
                    </div>
                    <hr>
                    <div>
                        <h6>Absents </h6>
                        <h5>2</h5>
                    </div>
                </div>
                <div class="col-6">
                    <img src="/assets/images/Faculty-Dashboard donut graph.png" class="w-100" alt="">
                </div>
            </div>
    
        </div>


    </div>
</div>