<div class="header fixed-top">
  <div class="d-flex   ms-2">
    <fa-icon [icon]="menuIcon" class="menuIcon " (click)="sidebarToggle()"></fa-icon>
    <h3 class="ms-4  mt-md-0 mt-1">Logo</h3>
  </div>

  <div class="d-flex">

    <div class="right-side">
      <a [routerLink]="['/notification']" routerLinkActive="router-link-active">
        <fa-icon [icon]="notificationIcon"></fa-icon>
        <span>2</span>
      </a>
      <span class="me-2 ms-4" id="dropdownMenuButton1" data-bs-toggle="dropdown">Nickson</span>
      <fa-icon [icon]="dropDownIcon"></fa-icon>
    </div>

  </div>
</div>