<div class="container">


    <div class="row">
        <div class="col-lg-6">
            <div class="row ">
                <div class="col-6 ">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between">
                            <h6>Attendance</h6>
                            <span>May</span>
                        </div>
                        <div>
                            <img src="/assets/images/Faculty-Dashboard donut graph.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="card p-3">
                        <div class="d-flex justify-content-between">
                            <h6>Test (Avg)</h6>
                            <span>May</span>
                        </div>
                        <div>
                            <img src="/assets/images/Faculty-Dashboard donut graph.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row  ps-2">
                <div class="pt-4 border ms-1 shadow-sm rounded noticeboard">
                    <h4>NoticeBoard</h4>
                    <app-notice-list></app-notice-list>
                </div>
            </div>

        </div>
        <div class="col-lg-6 ">
            <div class="pt-4 border ms-1 shadow-sm rounded noticeboard">
                <h4 class="ms-3 ">Assignments</h4>
                <app-assignments></app-assignments>
            </div>
        </div>
    </div>











</div>