<div class="row w-100  ps-5 ps-md-0 ps-lg-0 mt-0 ms-3 ms-lg-0 pe-0">

    <div class="p-0 px-lg-3" [ngClass]="{'col-lg-6': detailShow,'col-lg-12': !detailShow}">
        <div class=" d-flex justify-content-between flex-wrap align-content-center my-2">
            <div class="col-lg-4">
                <h1 class="ms-3 ms-lg-0">Student</h1>
            </div>
            <div class="" [ngClass]="{'col-lg-8': detailShow,'col-lg-6': !detailShow}">
                <div class="row">
                    <div class="col-8">
                        <input type="text" class="mt-2 form-control" [(ngModel)]="SearchInp" placeholder="Search..">
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <app-filter-button class="me-4 mt-2" (click)="toggleFilter('toggle')"></app-filter-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-2  d-flex ">
            <div class="filter-component p-1 bg-light rounded-pill border d-flex justify-content-between"
                *ngIf="FilterComponenets.Class !== '' && FilterComponenets.Class !== 'All' ">
                <span class="me-2">{{FilterComponenets.Class}}</span>
                <fa-icon [icon]="componentCloseBtnIcon"  (click)="eliminatingFilterCriteria('Class')"></fa-icon>
            </div>


            <div class="filter-component p-1 bg-light rounded-pill border d-flex justify-content-between"
                *ngIf="FilterComponenets.Section!== '' && FilterComponenets.Section !== 'All' ">
                <span class="me-2">{{FilterComponenets.Section}}</span>
                <fa-icon [icon]="componentCloseBtnIcon"  (click)="eliminatingFilterCriteria('Section')"></fa-icon>
            </div>


            <div class="filter-component p-1 bg-light rounded-pill border d-flex justify-content-between"
                *ngIf="FilterComponenets.ClassTeacher !== '' && FilterComponenets.ClassTeacher!== 'All'  ">
                <span class="me-2">{{FilterComponenets.ClassTeacher}}</span>
                <fa-icon [icon]="componentCloseBtnIcon"  (click)="eliminatingFilterCriteria('ClassTeacher')"></fa-icon>
            </div>


            <div class="filter-component p-1 bg-light rounded-pill border d-flex justify-content-between"
                *ngIf="FilterComponenets.FeeStatus !== '' && FilterComponenets.FeeStatus !== 'All' ">
                <span class="me-2">{{FilterComponenets.FeeStatus}}</span>
                <fa-icon [icon]="componentCloseBtnIcon"  (click)="eliminatingFilterCriteria('FeeStatus')"></fa-icon>
            </div>


        </div>

        <div class="d-flex justify-content-end">
            <app-student-filter *ngIf="ShowFilter" class="student-filter pop-up"></app-student-filter>
        </div>
        <div class="border rounded pop-up shadow-sm student-list p-3 pt-1" (click)="toggleFilter('close')">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Section</th>
                        <th>Teacher </th>
                        <th>Class</th>
                        <th>View Profile</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item.RollNo}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Section}}</td>
                        <td>{{item.ClassTeacher}}</td>
                        <td>{{item.Class}}</td>
                        <td class="d-flex justify-content-center">
                            <app-button bg="bg-secondary px-3 py-1" (click)="showDetail(item)">more</app-button>
                        </td>
                    </tr>


                </tbody>
            </table>

        </div>
    </div>

    <div class="col-lg-6 mt-3 mt-lg-0 px-0 px-lg-3" *ngIf="detailShow" id="detail">
        <h1 class="ms-3 ms-lg-0">Detail</h1>
        <div class="student-detail border shadow-sm p-3 pop-up mt-4">
            <div class="d-flex justify-content-end">
                <div class="p-2 close border border-bottom-0" (click)="closeDetails()">
                    <fa-icon [icon]="closeIcon"></fa-icon>
                </div>
            </div>
            <div class="header p-2 d-flex">
                <div>
                    <img src="/assets/images/student.jpg" width="100" class="rounded-circle" alt="">
                </div>
                <div class="w-100 d-flex flex-wrap align-content-center ">
                    <div class="w-100 ps-2 pt-3">
                        <div class="d-flex justify-content-between">
                            <h5>{{selectedStudent.Name}}</h5>
                            <a [routerLink]="['/admin/studentEidt']"
                                [queryParams]="{'rollNo' : selectedStudent.RollNo}">
                                <app-button bg="bg-secondary px-2">Edit</app-button>
                            </a>
                        </div>
                        <hr class="my-0 ">
                        <p>{{selectedStudent.FatherName}}</p>
                    </div>
                </div>
            </div>

            <!-- ==================== Academic ====================  -->

            <div class="academic-info mt-1 px-3 ">

                <div class="d-flex justify-content-between pe-2">
                    <h5>
                        Academic Info
                    </h5>

                </div>
                <hr class="my-0">

                <div class="detail  pt-2">


                    <div class="row mt-2">
                        <div class="col-4">
                            <span>Roll no.</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedStudent.RollNo}}</span>
                        </div>
                    </div>

                    <div class="row mt-2 ">
                        <div class="col-4">
                            <span>Class</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedStudent.Class}} </span>
                        </div>
                    </div>
                    <div class="row mt-2 ">
                        <div class="col-4">
                            <span>Section</span>
                        </div>
                        <div class="col-8">
                            <span> {{selectedStudent.Section}}</span>
                        </div>
                    </div>
                    <div class="row mt-2 ">
                        <div class="col-4">
                            <span>Fee Status</span>
                        </div>
                        <div class="col-8">
                            <span> {{selectedStudent.FeeStatus ? 'Paid' : 'Unpaid'}}</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">
                            <span>Class Teacher</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedStudent.ClassTeacher}}</span>
                        </div>
                    </div>


                </div>



            </div>



            <div class="personal-info mt-5 px-3">

                <div class="d-flex justify-content-between pe-2">
                    <h5>
                        Personal Info
                    </h5>

                </div>
                <hr class="my-0">

                <div class="detail  pt-2">


                    <div class="row mt-2">
                        <div class="col-4">
                            <span>Phone</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedStudent.Phone}}</span>
                        </div>
                    </div>

                    <div class="row mt-2 ">
                        <div class="col-4">
                            <span>Email</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedStudent.Email}}</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">
                            <span>Address</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedStudent.Address}}</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">
                            <span>Date of Birth</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedStudent.DateOfBirth}}</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">
                            <span>CNIC</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedStudent.CNIC}}</span>
                        </div>
                    </div>


                </div>



            </div>


            <div class="d-flex justify-content-end mt-2">
                <a [routerLink]="['/admin/student-progress']" routerLinkActive="router-link-active">
                    <app-button bg="bg-secondary px-2 py-1 me-3">View Progress</app-button>
                </a>
            </div>

        </div>
    </div>


</div>