<div class="p-3  assignment-list ">

    <div class="notice-item shadow-sm pop-up rounded p-3 pb-2 mt-3 border">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit!</p>
        <div class=" d-flex justify-content-end ">
            <span class="text-secondary"> 13 out of 15</span>
        </div>
    </div>

    
    <div class="notice-item shadow-sm pop-up rounded p-3 pb-2 mt-3 border">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit!</p>
        <div class=" d-flex justify-content-end ">
            <span class="text-secondary"> 13 out of 15</span>
        </div>
    </div>

    
    <div class="notice-item shadow-sm pop-up rounded p-3 pb-2 mt-3 border">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit!</p>
        <div class=" d-flex justify-content-end ">
            <span class="text-secondary"> 13 out of 15</span>
        </div>
    </div>

    
    <div class="notice-item shadow-sm pop-up rounded p-3 pb-2 mt-3 border">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit!</p>
        <div class=" d-flex justify-content-end ">
            <span class="text-secondary"> 13 out of 15</span>
        </div>
    </div>

    
    <div class="notice-item shadow-sm pop-up rounded p-3 pb-2 mt-3 border">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit!</p>
        <div class=" d-flex justify-content-end ">
            <span class="text-secondary"> 13 out of 15</span>
        </div>
    </div>

    
    <div class="notice-item shadow-sm pop-up rounded p-3 pb-2 mt-3 border">
        <h6>Title</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, velit!</p>
        <div class=" d-flex justify-content-end ">
            <span class="text-secondary"> 13 out of 15</span>
        </div>
    </div>

    


</div>