<div class="row " >
    <div class="col-3 d-flex justify-content-between  ">
        <h6>Title</h6>
        <h6>:</h6>
    </div>
    <div class="col-9">
        {{data.Title}}
    </div>
</div>
<div class="row   my-3">
    <div class="col-3 d-flex justify-content-between  ">
        <h6>Class</h6>
        <h6>:</h6>
    </div>
    <div class="col-9">
        {{data.Class}} {{data.Section}}
    </div>
</div>
<div class="row   ">
    <div class="col-3 d-flex justify-content-between  ">
        <h6>Class Teacher</h6>
        <h6>:</h6>
    </div>
    <div class="col-9">
        {{data.ClassTeacher}} 
    </div>
</div>


<hr>

<div>

    <h4 class="mt-4">{{data.Title}}</h4>

    <p>{{data.Description}}</p>

</div>



<div>
    <a [routerLink]="['../submission']" routerLinkActive="router-link-active">
        <app-button bg="bg-secondary px-3 py-2">Submissions</app-button>
    </a>
</div>