<div class="row   ">
    <div class="col-3 d-flex justify-content-between  ">
        <h6>Title</h6>
        <h6>:</h6>
    </div>
    <div class="col-9">
        Metals and Non Metals
    </div>
</div>
<div class="row   my-3">
    <div class="col-3 d-flex justify-content-between  ">
        <h6>Class</h6>
        <h6>:</h6>
    </div>
    <div class="col-9">
        4th Green
    </div>
</div>
<div class="row   ">
    <div class="col-3 d-flex justify-content-between  ">
        <h6>Class Teacher</h6>
        <h6>:</h6>
    </div>
    <div class="col-9">
        Sir Subhan
    </div>
</div>


<hr>

<div>

    <h4 class="mt-4">Metals and Non Metals</h4>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo ea assumenda consequuntur neque perspiciatis sint
        enim
        earum, eius nihil sequi, veniam omnis debitis aliquam dolor et maxime maiores nesciunt odio! Sit deleniti
        eligendi
        iure aliquid nobis magni expedita itaque aspernatur id exercitationem accusantium odio dolor impedit magnam
        optio
        illum necessitatibus soluta esse temporibus, earum est nulla. Quasi incidunt dolores magnam facilis recusandae
        perferendis, voluptas culpa labore illum laborum praesentium pariatur quae. Assumenda explicabo dolor, minus,
        est
        esse aliquid quia velit earum repudiandae voluptate ex tenetur delectus repellat, autem sunt fugiat quasi! Enim
        animi aliquam, sit delectus explicabo fuga! Optio, iste?</p>

</div>



<div>
    <a [routerLink]="['/faculty/assignment-submission']" routerLinkActive="router-link-active">
        <app-button bg="bg-secondary px-3 py-2">Submissions</app-button>
    </a>
</div>