<div class="sidebar ">
    <ul class="list-group">
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class=" fw-bold">Dashboard</span>
                <img src="/assets/images/icons/dashboard.jpg" class="sidebar-icon " alt="">
            </li>
        </a>
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class=" fw-bold">Students</span>
                <img src="/assets/images/icons/student-icon.jpg" class="sidebar-icon " alt="">
            </li>
        </a>
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class=" fw-bold">Faculty</span>
                <img src="/assets/images/icons/teaching-icon.png" class="sidebar-icon " alt="">
            </li>
        </a>
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class=" fw-bold">Noticeboard</span>
                <img src="/assets/images/icons/notice-board.jpg" class="sidebar-icon " alt="">
            </li>
        </a>
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class=" fw-bold">Accounts</span>
                <img src="/assets/images/icons/dollar.png" class="sidebar-icon " alt="">
            </li>
        </a>
    </ul>
</div>