<div class="sidebar" [ngClass]="{'sidebar-expand': isExpand , 'sidebar-collapse': !isExpand }">
    <ul class="list-group">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class="ms-2">Dashboard</span>
                <img src="/assets/images/icons/dashboard.jpg" class="sidebar-icon " alt="">
            </li>
        </a>
        <a [routerLink]="['/student']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class="ms-2">Students</span>
                <img src="/assets/images/icons/student-icon.jpg" class="sidebar-icon " alt="">
            </li>
        </a>
        <a [routerLink]="['/faculty']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class="ms-2">Faculty</span>
                <img src="/assets/images/icons/teaching-icon.png" class="sidebar-icon " alt="">
            </li>
        </a>
        <a [routerLink]="['/noticeboard']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class="ms-2">Noticeboard</span>
                <img src="/assets/images/icons/notice-board.jpg" class="sidebar-icon " alt="">
            </li>
        </a>
        <a [routerLink]="['/accounts']" routerLinkActive="router-link-active"  >
            <li class="list-group-item py-3 d-flex justify-content-between">
                <span class="ms-2">Accounts</span>
                <img src="/assets/images/icons/dollar.png" class="sidebar-icon " alt="">
            </li>
        </a>
    </ul>
</div>