.sidebar{
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 91.5vh;
    box-shadow: 8px 0px 6px -5px rgb(202, 202, 202);
    transform: translateX(0px);
    position: fixed;
    top: 62px;
    z-index: 1;
}

.sidebar-collapse{
    transform: translateX(-160px);
    transition: 0.5s;
}

.sidebar-expand{
    transition: 0.5s;
    transform: translateX(0px);
}

 

.sidebar-icon{
    width: 30px;
}
a{
    text-decoration: none;
}