<div class="row ps-4">
    <div class="col-lg-6">
        <div class="row px-2 px-lg-0">
            <div class="col-4">
                <div class="card p-3">
                    <div class="d-flex justify-content-between">
                        <h6>Attendance</h6>
                        <!-- <span>May</span> -->
                    </div>
                    <div>
                        <img src="/assets/images/Faculty-Dashboard donut graph.png" class="w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-3">
                    <div class="d-flex justify-content-between">
                        <h6>GPA</h6>
                        <span>May</span>
                    </div>
                    <div >
                        <img src="/assets/images/Faculty-Dashboard donut graph.png" class="w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-3">
                    <div class="d-flex justify-content-between">
                        <h6>CGPA</h6>
                        <span>May</span>
                    </div>
                    <div>
                        <img src="/assets/images/Faculty-Dashboard donut graph.png" class="w-100" alt="">
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row mt-4 px-2">
            <div class="border p-3 py-4 pb-5 rounded shadow-sm ">
                <h4>Notification</h4>
                <app-notice-list></app-notice-list>
            </div>
        </div>

    </div>
    <div class="col-lg-6 mt-3 mt-lg-0">
        <div class="border p-1 rounded shadow-sm pop-up">
            <h4 class="ms-3 mt-3">Assignments</h4>
            <app-assignments></app-assignments>
        </div>
    </div>
</div>