<div class="container ">

    <div class="row">
        <div class="col-lg-6 ">
            <form>
                <div class="d-flex">
                    <div class="form-group flex-grow-1">
                        <label>Date</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="d-flex flex-wrap align-content-end">
                        <div class="btn btn-primary">Search</div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-lg-8">
            <app-attendance-list></app-attendance-list>
        </div>
        <div class="col-lg-4">
            <app-attendance-details></app-attendance-details>
        </div>
    </div>





</div>


