<div class="row w-100 ms-5 ms-lg-0">

    <div class="" [ngClass]="{'col-lg-6': showDetail, 'col-lg-12': !showDetail}">
        <div class=" d-flex justify-content-between flex-wrap align-content-center my-2">
            <h1 class="">Faculty</h1>
            <div class=" flex-grow-1 ps-lg-3">
                <input type="text" class="mt-2 form-control" [(ngModel)]="SearchInp" placeholder="Search..">
            </div>
        </div>

       
        <div class="border rounded pop-up shadow-sm faculty-list p-3  pt-1">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>Class</th>
                        <th>View Profile</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item.Id}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.FatherName}}</td>
                        <td>{{item.Class}}</td>
                        <td class="d-flex justify-content-center">
                            <app-button bg="bg-secondary px-3 py-1" (click)="showDetails(item)">more</app-button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="col-lg-6 mt-3 mt-lg-0" *ngIf="showDetail">
        
        <h1 class="ms-3 ms-lg-0">Detail</h1>
        <div class="faculty-detail border shadow-sm  rounded-top-0 p-3 pop-up mt-4">
            <div class="d-flex justify-content-end">
                <div class="p-2 close border border-bottom-0" (click)="closeDetails()" >
                    <fa-icon [icon]="closeIcon" ></fa-icon>
                </div>
            </div>
            <div class="header p-2 d-flex">
                <div>
                    <img src="/assets/images/faculty.jpg" width="100" class="rounded-circle" alt="">
                </div>
                <div class="w-100 d-flex flex-wrap align-content-center ">
                    <div class="w-100 ps-2 pt-3">
                        <h5>{{selectedFaculty.Name}}</h5>
                        <hr class="my-0 ">
                        <p>{{selectedFaculty.FatherName}}</p>
                    </div>
                </div>
            </div>

    


            <div class="personal-info mt-5 px-3">

                <div class="d-flex justify-content-between pe-2">
                    <h5>
                        Personal Info
                    </h5>
                    <app-button bg="bg-secondary px-2">Edit</app-button>
                </div>
                <hr class="my-0">

                <div class="detail  pt-2">


                    <div class="row mt-2">
                        <div class="col-4">
                            <span>Phone</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedFaculty.Phone}}</span>
                        </div>
                    </div>

                    <div class="row mt-2 ">
                        <div class="col-4">
                            <span>Email</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedFaculty.Email}}</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">
                            <span>Address</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedFaculty.Address}}</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">
                            <span>Date of Birth</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedFaculty.DateOfBirth}}</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">
                            <span>CNIC</span>
                        </div>
                        <div class="col-8">
                            <span>{{selectedFaculty.CNIC}}</span>
                        </div>
                    </div>


                </div>



            </div>


        </div>
    </div>


</div>