.card {
    box-shadow: 10px 10px 20px -15px rgb(146, 146, 146);
    animation: pop-up 0.5s;
    transform: scale(1);
    z-index: -1;
}

@keyframes pop-up {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }

}