.sidebar-collapse{
    transform: translateX(-160px);
    transition: 0.5s;
}

.sidebar-expand{
    transition: 0.5s;
    transform: translateX(0px);
}
.col-md-0-5{
    width: 8%;
}
.col-md-11-5{
    width: 92%;
}
 
 