<app-header></app-header>

<app-sidebar></app-sidebar>

<div class=" ">
    <div class="row mt-5 pt-5 w-100 ">

        <div class=" " [ngClass]="{'col-md-2': sideBarExpand , 'col-md-0-5': !sideBarExpand  }">

        </div>

        <div class=" " [ngClass]="{'col-md-10': sideBarExpand , 'col-md-11-5': !sideBarExpand  }">


            <app-admin-main></app-admin-main>
            <!-- <app-faculty-main></app-faculty-main> -->
            <!-- <app-student-main></app-student-main> -->
            
            
        </div>


    </div>


</div>